 body{
    color:indigo;
    margin: 0;
    padding: 0;
    min-width: 465px;
 }
.heading{
    text-align: center;
}
.table{

width: 70%;
margin: 0% 15%;
}
.l-line{
text-align: end;
}

.row{
    text-align: left;
}

  .footer-f{
    border: 2px solid black;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    color:black;
    
  }
.footer-b{
    border: 2px solid black;
    width: 100%;
    height: 300px;
    color:white;
    background-color: rgb(93, 86, 86);
    line-height: 10px;
    display: flex;
    justify-content: space-around;
    
}
.bottom-f{
    border-top: 2px solid white;
    width: 100%;
    height: 50px;
    background-color: rgb(122, 118, 118);
    text-align: center;
    padding-top: 20px;
    color: white;
}


